/* GLOBAL STYLES */

/* css variables */
:root{
  --main-color: #17479D;
  --hover-color: #fd7e14;
}

/* css untuk semua unit nya */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  font-size: 16px;

  /* untuk menyembunyikan elemen navbar versi mobile phone */
  overflow-x: hidden;
}